<h1>Alphabet Challenge</h1>
<table border="1">
  <tr>
    <th></th>
    <th></th>
    <th>Male</th>
    <th>Female</th>
  </tr>
  <% ("A".."Z").each do |letter| %>
    <tr>
      <th><%= check_box_tag "completed", 1, false, autocomplete: 'off' %></th>
      <th><%= letter %></th>
      <td>
        <%= male(letter) %>
      </td>
      <td>
        <%= female(letter) %>
      </td>
    </tr>
  <% end %>
</table>